/* The stlying for the game board, and the markers comes from
  https://www.youtube.com/watch?v=Y-GkMjUZsmM 
  Credit to Web Deve Simplified for the CSS styling
  His Repo: https://github.com/WebDevSimplified/JavaScript-Tic-Tac-Toe
  I changed the color schemes but the main styling for the board and markers 
  is credited to Web Dev Simplified.
 */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --text-color: #b1ddf1;
  --cell-fill: #ffd147;
  --darker-text-color: var(--cell-fill);
}

body {
  margin: 0;
  background-color: #070b0d;
  overflow: hidden;
  color: var(--text-color);
}
.App-header {
  color: var(--text-color);
  height: 35px;
  /* border: 1px solid var(--text-color); */
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  /* var(--cell-fill); */
}
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.X,
.cell.O {
  cursor: not-allowed;
}

.cell.X::before,
.cell.X::after,
.cell.O::before {
  background-color: var(--cell-fill);
}

.board.X .cell:not(.X):not(.O):hover::before,
.board.X .cell:not(.X):not(.O):hover::after,
.board.O .cell:not(.X):not(.O):hover::before {
  background-color: var(--text-color);
}

.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::before,
.board.X .cell:not(.X):not(.O):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.X::before,
.board.X .cell:not(.X):not(.O):hover::before {
  transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::after {
  transform: rotate(-45deg);
}

.cell.O::before,
.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::before,
.board.O .cell:not(.X):not(.O):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.O::before,
.board.O .cell:not(.X):not(.O):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #070b0d;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  color: #dbff76;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message #restartButton {
  font-size: 3rem;
  background-color: #dbff76;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message #restartButton:hover {
  background-color: black;
  color: #dbff76;
  border-color: var(--text-color);
}

.winning-message.show {
  display: flex;
}

.home-button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  font-size: 1.25em;
}

.home-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.base-tic-tac-toe {
  background-image: url("./assets/baseTicTacToe.JPG");
  background-repeat: no-repeat;
  background-position: center;
  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: relative;
  height: 100%;
  width: 100%;
  border: 3px solid white;
  border-radius: 5%;
}
.option {
  margin: 10px;
  display: flex;
  height: 70vh;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 100%;
  /* top: -50%; */
  padding: 5px;
  font-size: 1.35em;
  color: var(--text-color);
  text-align: center;
}
